/* DashboardPage.css */

.dashboard-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-body {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Adjust if header height changes */
  }
  
  .sidebar {
    background-color: #000; /* Black background */
    padding: 20px;
    width: 250px;
    height: calc(100vh - 60px); /* Adjust for header height */
    position: fixed;
    top: 60px; /* Adjust for header height */
    left: 0;
    transition: width 0.5s;
    overflow-y: auto;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .collapse-btn {
    background-color: #337ab7; /* Blue button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    white-space: nowrap;
  }
  
  .collapse-btn:hover {
    background-color: #23527c; /* Darker blue on hover */
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar-menu li:hover {
    background-color: #333; /* Dark grey background on hover */
  }
  
  .icon {
    font-size: 24px; /* Increase icon size */
    margin-right: 10px;
  }
  
  .text {
    font-size: 16px;
    font-weight: bold;
  }
  
  .sidebar.collapsed .text {
    display: none;
  }
  
  .sidebar.collapsed:hover .text {
    display: block;
  }
  
  .main-content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px;
    flex: 1;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  